.biggernogroup-sub-header .p-datatable-thead {
	display: none;
}

.biggernogroup-sub-header .p-datatable-tfoot td {
	border: none !important;
	text-align: left !important;
	padding: 10px 0px 10px !important;
	font-weight: 400 !important;
}

.biggernogroup-table .party-images {
	position: absolute;
	right: 10%;
	width: 50%;
}

.biggernogroup-table .border-images {
	position: relative;
	bottom: 25px;
}

.biggernogroup-table .padding-name {
	padding: 0.429em 1em !important;
}

.biggernogroup-table .p-datatable-tfoot > tr > td {
	width: 10px;
}

.biggernogroup-table .p-datatable-tfoot > tr > td > span {
	padding: 0em 0em 0.8em 1em !important;
}