body, html {
    font-family: Titillium Web, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1C2024;
    font-size: 62.5%;
    line-height: 1.5;
    font-weight: normal;
}

.second-row {
    background: #f5f5f0;
    height: 40px;
    line-height: 0%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.box-live {
    position: absolute;
}

.box-title {
    position: absolute;
    left: 100px;
}

.container-live .box-title p {
    font-size: 2.2rem;
    margin-top: 6px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.inmlive {
    margin: 8px 1px 2px;
    height: 21px;
    width: 100px;
    background-image: url(/icona_live.png);
    background-repeat: no-repeat;
    transition: opacity, 0.4s, ease, 0.25s;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.powered {
    position: relative;
    left: 89%;
    display: inline-flex;
    top: 5px;
}

.powered p {
	top: 6px;
	font-size: 10px;
	position: relative;
}